.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  padding-top: 10px;
  color: #3B5751;
  background-color: transparent;
}

.Logo{
  margin-right: 20px;
  color: white;
  background-color: ;
}

.nav-logo{
  font-family: Outfit;
  font-size: 42px;
  font-weight: 500;
  background-color: transparent;
  color: black;
  border-radius: 50px;
  padding: 5px 38px;
}

.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 60px;
  position: relative;
  top: 5px;
  }

.nav-contact{
  border-radius: 50px;
  padding: 10px 38px;
  background:#3B5751;
  color: white;
}