*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.search-bar-container {
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.Background{
background-image: url(./images/background.jpg);
background-size: cover;
width: 100vw;
height: 100vh;
}

.motto {
  color: white;
  text-align: center;
  font-size: 200px;
  justify-content: center;
  margin-top: 40vh;
  margin-right: 75vw;
  
}