*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Background{
background-image: url(./images/background.jpg);
background-size: cover;
width: 100vw;
height: 100vh;
}
